.card {
  max-width: 282px;
  max-height: 361px;
  border-radius: 10px;
  background-color: #ffffff;
}

.card__image {
  max-width: 282px;
  max-height: 282px;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  aspect-ratio: 1/ 1;
}

.card__content {
  display: flex;
  padding: 25px 15px 30px 20px;
  margin-left: 8px;
  justify-content: space-between;
}

.card__place {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  max-width: 21px;
  margin-left: 10px;
}

.card__trash {
  max-width: 19px;
  margin-top: 18px;
  margin-left: 249px;
  background-color: transparent;
  position: absolute;
}
