.container {
  /*display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 300px 300px 300px;
          gap: 17px;*/
  display: flex;
  flex-wrap: wrap;
  gap: 21px 17px;
  margin: 0 auto;
  justify-content: center;
  background: rebeccapurple;
}
