.profile {
  display: grid;
  grid-template-areas:
    "avatar name edit add"
    "avatar profession profession profession";
  grid-template-columns: 120px 415px 24px auto;
  max-width: 69%;
  width: 100%;
  margin: 45px 0 50px 0;
}

.profile__avatar {
  grid-area: avatar;
  max-width: 120px;
  border-radius: 50%;
}

.profile__info {
  display: contents;
  margin-left: 30px;
}

.profile__name {
  grid-area: name;
  font-family: Inter;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 48px;
  color: #ffffff;
  margin: 0 auto;
}

.profile__profession {
  grid-area: profession;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #ffffff;
  max-width: 415px;
  padding: 16px 0 30px 0;
  margin-left: 30px;
}

.profile__edit-button {
  grid-area: edit;
  color: #ffffff;
  width: 24px;
  height: 24px;
}

.profile__add-button {
  grid-area: add;
  margin-left: 165px;
  width: 150px;
  height: 50px;
}
